.class_a {
    color: red;
    background-color: violet;
}

.class_a p{
    color: black;
    background-color: yellow;
}


.class_a .class_b .class_c {
    color: pink;
}

.background_image{
    background-image: url("http://i.huffpost.com/gen/1194752/images/o-ALBINO-GORILLA-INBRED-facebook.jpg");
    padding: 50px;
    width: 500px;
    height: 500px;
    background-color: grey;
    background-size: 50%;
    background-repeat: no-repeat;
    
}