.my-body {
    background-color: #212121;
    font-family: 'lato';
}

.my-title {
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

.my-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: orangered;
    background-color: white;
}
   
.my-paragraph {
    font-size: 3rem;
    font-weight: 100;
    color: white;
}

.my-strong {
    text-shadow: 2px 22px 0 orangered;
}